<div class="md-editor">
	<div class="md-editor__toolbar">
		<ul class="toolbar-list">
			<li>
        <a role="button" id="bold-button" class="toolbar-list__button">
          <span class="material-symbols-outlined">
          format_bold
          </span>
        </a>
      </li>
			<li>
        <a role="button" id="italic-button" class="toolbar-list__button">
          <span class="material-symbols-outlined">
            format_italic
          </span>
        </a>
      </li>
			<li>
        <a role="button" id="underline-button" class="toolbar-list__button">
          <span class="material-symbols-outlined">
            format_underlined
          </span>
        </a>
      </li>
			<li>
        <a role="button" id="spoiler-button" class="toolbar-list__button">
          <span class="material-symbols-outlined">
            strikethrough_s
          </span>
        </a>
      </li>
      <li>
        <a role="button" id="link-button" class="toolbar-list__button">
          <span class="material-symbols-outlined">
            link
          </span>
        </a>
      </li>
      <li>
        <a role="button" id="code-button" class="toolbar-list__button">
          <span class="material-symbols-outlined">
            code
          </span>
        </a>
      </li>
		</ul>
    <a role="button" id="preview-button" class="toolbar-list__button">
      <span class="material-symbols-outlined">
        visibility 
      </span>
    </a>
	</div>
	<textarea class="md-editor__textarea" name="{{ widget.name }}" {% include "django/forms/widgets/attrs.html" %}>{% if widget.value %}{{ widget.value }}{% endif %}</textarea>
  <div class="md-editor__preview_info">Предпросмотр:</div>
  <div class="md-editor__preview" id="preview-field">
  </div>
</div>

